/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-ene-2019, 9:34:50
    Author     : amunguia
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body { font: .74em Tahoma, Verdana, Sans-Serif, Arial; background: url(../res/body.gif) repeat; color: #7f7f7f; }
h1 { font: normal 3.4em "Trebuchet MS", Helvetica, Arial; }
h2 { font: normal 1.8em "Trebuchet MS", Helvetica, Arial; color: #757171; margin: 0 0 15px; }
h3 { font: normal 1.4em "Trebuchet MS", Helvetica, Arial; margin: 0 0 20px; }
h4 { font: normal 1.2em "Trebuchet MS", Helvetica, Arial; color: #dfdfdf; margin: 0 0 4px; }
p { margin: 0 0 15px; line-height: 1.6em; }
a { outline: 0; color: #304D6F; text-decoration: none; }
li { list-style: none; }
li a, img { display: block; }
img { outline: 0; border: 0; }

#wrapper { width: 984px; margin: auto; }
.clr { clear: both; }
#logo { float: left; padding: 30px 15px; }
	#logo h1 a { color: #fff; }
		#logo h1 a span { color: #808080; }
#menu { height: 44px; padding: 5px 0 0 4px; }
	#menu li { float: left; font-size: 1.3em; text-transform: uppercase; }
		#menu li a { color: #888; margin: 0 50px 0 0; }
			#menu li a.current, #menu li a:hover { color: #fff; }			
#pitch { clear: both; background: url(../res/pitch.jpg) no-repeat; height: 228px; margin: 0 0 30px; padding: 60px 360px 0 30px; }
        #pitch h1 { font-size: 2.4em; color: #304D6F; margin: 0 0 20px; }
        #pitch em { font-size: 1.3em; font-weight: bold; line-height: 1.6em; }
.content { background: url(../res/content.gif) repeat; padding: 20px; }
.link { background: #304D6F; color: #fff; padding: 5px 10px; font-size: .9em; }
#main { padding: 20px; }
.col { float: left; width: 292px; margin: 0 30px 15px 0; }
	.col.last { float: right; margin-right: 0; }
	.case img { float: left; clear: left; margin: 0 20px 20px 0; background: #121212; padding: 3px; }
	.short { padding: 0 0 15px 0; background: url(../res/line.gif) repeat-x left bottom; }
	.case a, .article a { color: #ddd; font-weight: bold; }
	.date { font-size: .84em; margin: 0 0 3px; }
#footer { clear: both; background: url(../res/line.gif) repeat-x; padding: 20px 20px 10px; font-size: .9em; }
	#footer a { color: #ccc; margin: 0 10px 0 0; border-bottom: 1px dotted #444; padding: 0 0 1px; }
	#links { float: right; }
		#links a { margin: 0 0 0 10px; }
	#footer p { margin: 0 0 8px; }
.contenedor-index, .contenedor-pujas{
    width: 70%;
    margin: 0 auto;
}
.contenedor-index header{
    height: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    bbackground: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
}
.contenedor-index .insertar,
.contenedor-index nav {
    padding: 20px 80px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    color: #fff;
    background: #959595; /* Old browsers */
    background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 );
}
.insertar{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.nav-elemento a{
    
    color:white;
    text-decoration: none;
}
.login{
    display: inline-block;
    margin: 0 20px;
}
.nav-elemento a:hover{
  text-decoration: underline;
}
.contenedor-index .box{
    height: 100%;
    width: 200px;
}
#contenedor-panel,
.contenedor-index main{
    display:flex;
    justify-content: center;
    padding: 80px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 53%, rgba(0,0,0,0) 60%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 53%,rgba(0,0,0,0) 60%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 53%,rgba(0,0,0,0) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}
.contenedor-index section{
    height: 300px;
    width: 1800px;
    display:flex;
    justify-content: center;
}
.bloque-grid{
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.bloque{
    height: 300px;
    width: 300px;
    margin: 10px 20px;
    padding: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    color:white;
    background: rgb(243,226,199); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 );
    }

.puja  .formulario >h1 {
    position:relative;
    left: 70px;
}
.texto-subasta{
    margin-left:10px;
}
.contenedor-index footer{
    height:50px;
    background-color: black;
}
.contenedor-index #primero{
    background-color: #7CA4FF;
}
.contenedor-index #segundo{
   background-color: #48B0BD;
}
.contenedor-index #tercero {
   background-color: #D584F1;
}
.contenedor-acceso,
.contenedor-registro{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(177,241,252,0.4);
}
.acceso,
.registro{
    position:relative;
    width:350px;
    display:flex;
    justify-content: center;
    background-color: #cccccc;
    padding: 10px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.insertar .formulario{
    flex-direction: row;
}
.formulario h1{
    width:100%;
    color:white;  
}
.formulario input{
    width:100%;
    border-radius: 4px;
    padding: 0 4px;
    margin: 5px 0;
    text-align: left;  
}
.btn-input {
    display: flex;
    justify-content: center;
}

footer{
  
}

